/* src/index.css */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    /* A clean, slightly warm, dark background for the whole page */
    background-color: #1a1a1a;
    color: #333; /* Default text color will be dark */
    overflow: hidden;
}

#root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
